.finventory{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.fish_image {
    border: 2ch double black;
    max-width: 30%;
    height: auto;
}

aside{
   font-family: 'Gill Sans';
   font-size: 40px;
   color: antiquewhite;
   float: right;
}




body{
    background-color: coral;
}




.travel_image{
    border: 2ch outset mediumspringgreen;
    max-width: 30%;
    height: auto;
}

.fish_trips{
    font-family: monospace;
    font-size: 25px;
}