 /*COFFEE SHOP ASSIGNMENT*/
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    flex-basis: 16%;
    border: 2px;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    border: 4px double goldenrod;
    padding: 1em;
    margin: 0.5em;
}
