.finventory{
    font-family:'Gill Sans MT';
    font-size: 40px ;
}

.fish__image{
    border: 2ch double black;
    max-width: 30%;
    height: auto;
}



aside{
   font-family: 'Gill Sans';
   font-size: 40px;
   color: antiquewhite;
   float: right;
}




body{
    background-color: coral;
}




.travel_image{
    border: 2ch outset mediumspringgreen;
    max-width: 30%;
    height: auto;
}

.fish_trips{
    font-family: monospace;
    font-size: 25px;
}